@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.top-section{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.7rem;
    height: 1.7rem;
    align-items: center;
}

/* icon */
.top-app-icon{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}

.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.google-logo{
    width: 26rem;
    height: auto;
}

.search-icon{
    width: 1.2rem;
    height: auto;
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
}   
/* icon */


.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.search-box-section{
    margin-top: 2rem;
    width: 40rem;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    display: flex inline-block;
    align-items: center;
    /* border: none;
    outline: none; */
}

