*{
    margin: 0;
    padding: 0;
}

body{
    /* Bacground Image */
    background-image: url(/assets/wall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    /* background-size: cover; */
}

/* Combinator */
#container{
    border: 1px solid black;
}

/* descendent ( ), all below it child grandchild and below*/
#container p{
    background-color: aqua;
}

/* child (>) only effect the child */
#container > p {
    background-color: blueviolet;
}

/* General sibling (~) all the sibling */
#container ~ p {
    background-color: chartreuse;
}

/* adjacent sibling (+) only the closest (after) sibling*/
#container + p{
    background-color: crimson;
}

/* Pseudo-class */
a:visited{
    color:darkmagenta;
}

.pseudo-class, .pseudo-class li:not(:hover){
    background-color: aqua;
}

.pseudo-class li:hover{
    background-color: red;
}

.pseudo-class li:active{
    font-size: large;
}

/* Pseudo-Element */
.pseudo-element h1::first-letter{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-style: italic;
    color: blue;

}

.pseudo-element::first-line{
    font-style: italic;
    font-weight: 100;
}

.pseudo-element::selection{
    background-color: brown;
    color: crimson;
}

.pseudo-element li::marker{
    content: '👾 ';
}

/* Dropdown */
.dropdown{
    display: inline-block;
}

.dropdown button{
    width: 6.2rem;
    height: 3rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: aqua;
    
}

.dropdown a{
    padding: 0.8rem;
    display: block;
}

.dropdown a:hover{
    background-color: brown;
}

.dropdown .fruit{
    background-color: aqua;
    width: fit-content;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.533);
    display: none;
}

.dropdown:hover .fruit{
    display: block;
}

.dropdown:hover button{
    background-color: rgb(3, 178, 178);

}

/* Image Gallery */
.image-gallery .gallery{
    display: inline-block;
    border: 1px solid black;
    width: 14rem;
    margin: 1rem;
}

.image-gallery .gallery:hover{
        border: 1px solid rgba(255, 0, 0, 0.593);
}

.gallery img{
    width: 100%;
}

.gallery .name{
    text-align: center;
    padding: 0.4rem;
}

/* Icons */
.fa-solid.fa-house.fa-2xl{
    color: red;
    width: 90px;
}

/* flexbox */
.flexbox .container{
    border: 5px solid black;
    height: 500px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: start;
}

.container .box{
    font-size: 50px;
    width: 5rem;
    height: 4rem;
    text-align: center;
    border-radius: 0.4rem;
    
}

.container #box1{
    background-color: red;
}


.container #box2{
    background-color: orange;
}

.container #box3{
    background-color: blueviolet;
}

.container #box4{
    background-color: green;
}


/* Transformation */
.transformation .box{
    font-size: 50px;
    width: 5rem;
    height: 4rem;
    text-align: center;
    border-radius: 0.4rem;
}

.transformation #box1{
    background-color: red;
    transform: rotateZ(30deg) translateY(-40px) ;

}

.transformation #box2{
    background-color: orange;
    transform: translate(50px) scale(2, 2);
}

.transformation #box3{
    background-color: blueviolet;
    transform: translateX(400%) skewX(30deg);

}

.transformation #box4{
    background-color: green;
    transform: skewY(30deg);
}

/* animation */
.animation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.animation .box{
    font-size: 50px;
    display: flex;
    width: 8rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.animation #box1{
    background-color: red;
    animation-name: slideRight;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-duration: linear;

}

.animation #box2{
    background-color: orange;
    animation-name: slideRight;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: reverse ;
}

.animation #box3{
    background-color: blueviolet;
    animation-name: slideRight;
    animation-duration: 2s;
    animation-direction: alternate ;

}

.animation #box4{
    background-color: green;
    animation-name: slideRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
    animation-play-state: running;
    animation-timing-function: ease-in-out;


}.animation #box5{
    background-color: blue;
    animation-name: slideRight;
    animation-duration: 2s;
    animation-direction: alternate ;
    animation-timing-function: cubic-bezier(0,1.15,0,-1.12);

}

.animation #box6{
    background-color: burlywood;
}

.animation #box7{
    background-color: magenta;

}

.animation #box8{
    background-color: chocolate;
}

@keyframes slideRight {
    to{transform: translateX(300%);}
    /* from{transform: translateX(300%);} */
    /* 25%{transform: translateX(200%);}
    50%{transform: translateX(300%);} */
}

