@font-face {
    src: url('assets/BitcountSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf');
    font-family: 'Bitcount Single';
}
/* if you need more font, add the font-face again for each src/font */
    

body{
    background-color: lightgrey;
    margin: 20px;
}

h1 {
    color: blue;
    text-align: center;
}

/* id(#) will override class(.) */

#p1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #333333;
}

.p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #a00a0ac8;
}

#p2{
    color: green;
    background-color: lightyellow;
    font-family: 'Playwrite NZ Basic Guides', 'times new roman';
    font-size: 1em;
    font-weight: bold;
    border: 2px dotted rgb(255, 0, 0);
    border-radius: 20px;
    padding: 10px;
    text-align: center; 
}

#p3{
    color: hsl(237, 100%, 50%);
    background-color: lightblue;
    font-family: 'Press Start 2P', 'arial';
    font-size: 1em;
    font-weight: bold;
    border: 2px dashed rgb(0, 0, 255);
    border-radius: 15px;
    padding: 10px;
    text-shadow: #ff0000 5px 2px 4px, #eeff00 -5px -2px 5px;
    box-shadow: #333333 5px 5px 10px, #eeff00 -5px -5px 10px;
}

#p4{
    color: brown;
    background-color: rgba(144, 238, 144, 0.534);
    font-family: 'Bitcount Single', 'arial';
    font-size: 1em;
    font-weight: bold;
    border: double rgb(255, 0, 0) 10px ;
    border-bottom: #a00a0ac8 double 4px;
    border-top: #333333 double 4px;
    border-radius: 10px;
    padding: 8px;

}

#p5{
    margin: 14px;
}


.hiBox {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    font-size: large;
    padding: 10px;
    margin: 20px auto ;
}

img{
    width: 50px;
    height: auto;
}

.boxTextPic{
    border: #333333 solid 2px;
    display: flow-root;
}

#img1{
    float: left;
    margin: 10px;
}

#img2{
    float: right;
    margin: 10px;
}

.overflow{
    border: #333333 solid 2px;
    padding: 10px;
    font-size: 1em;
    text-align: justify;
    border-radius: 15px;
    height: 50px;
}

#overflow1{
    overflow: visible;
}

#overflow2{
    overflow: hidden;
}

#overflow3{
    overflow: scroll;
}

#overflow4{
    overflow: auto;
}

#overflow5{
    overflow: clip;
    overflow-clip-margin: 30px;  /* it will show overflow depend on the pixels you give */
}

#div-block-level{
    border: #333333 solid 2px;
    height: 30px;
    background-color: lightgreen;
    display: inline-block;
}

#span-inline{
    display: inline;
    background-color: lightcoral;
    display: block;
}

.container-box{
    width: 100%;
    height: 100vh;
    padding: 0px;
    background-color: #333333;
}   
.box{
    border: #000000 solid 2px;
    background-color: rgba(128, 255, 0, 0.459);
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 50vh;
    margin: 0px;
    display: flex;
    align-items: center;   /*center vertically */
    justify-content: center; /*center horizontally */
}

#po1{
    position: relative;
    top: 20px;
    left: 30px;
    border: #000000 solid 2px;
    background-color: rgba(0, 255, 255, 0.459);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;   /*center vertically */
    justify-content: center;

}

#po2{
    position: fixed;
    top: 150px;
    left: 300px;
    border: #000000 solid 2px;
    background-color: rgba(255, 0, 255, 0.459);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;

}

#po3{
    position: absolute;
    border: #000000 solid 2px;
    background-color: rgba(255, 255, 0, 0.459);
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;   /*center vertically */
    justify-content: center;

}

#po4{
    position: sticky;
    top: 30px;
    border: #000000 solid 2px;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;   /*center vertically */
    justify-content: center;

}

#po5{
    position: static;
    border: #000000 solid 2px;
    background-color: rgba(128, 0, 128, 0.459);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;   /*center vertically */
    justify-content: center;
}   